@keyframes show-up {
  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }
  to {
    opacity: initial;
    transform: initial;
  }
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-40px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-left {
  from {
    opacity: 0;
    transform: translate3d(40px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-menu {
  from {
    opacity: 0.7;
    transform: translate3d(0, 100vh, 0);
  }
  to {
    opacity: initial;
    transform: initial;
  }
}

.animeUp {
  animation: show-up 0.4s forwards;
}

.animeMenu {
  animation: show-menu 0.6s forwards;
}

[data-anime="scroll"] section {
  opacity: 0;
}

[data-anime="scroll"].activeAnime section {
  opacity: initial;
  animation: show-up 0.4s forwards;
}

[data-anime="scroll"].activeAnime.animeLeft section {
  opacity: initial;
  animation: show-left 0.4s forwards;
}
[data-anime="scroll"].activeAnime.animeRight section {
  opacity: initial;
  animation: show-right 0.4s forwards;
}

.mainAnimeRight {
  animation: show-right 1s forwards;
}
.mainAnimeLeft {
  animation: show-left 1s forwards;
}
