@keyframes show-up {
  from {
    opacity: 0;
    transform: translate3d(0,40px,0);
  }
  to {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.mainText h2, .mainText h1 {
    animation: show-up .3s forwards;
}
.mainText p {
  animation: show-up .5s forwards;
}
.mainText a {
  animation: show-up .7s forwards;
}
.mainContent img {
    animation: show-up 1s forwards;
}

.mainText h1::after {
  animation: blink .7s infinite;
}
