@keyframes show-left {
    from {
      opacity: 0;
      transform: translate3d(-30px,0,0);
    }
    to {
      opacity: 1;
      transform: translate3d(0,0,0);
    }
}

@keyframes show-right {
    from {
      opacity: 0;
      transform: translate3d(30px,0,0);
    }
    to {
      opacity: 1;
      transform: translate3d(0,0,0);
    }
}

.mainText h2, .mainText span, .mainText a {
    animation: show-left .5s forwards;
}

.mainContent img {
    animation: show-right .5s forwards;
}
