@media (max-width: 1200px) {
    .mainContent img {
        grid-column: 7 / -1;
    }
    
    .mainText {
        grid-column: 1 / 6;
    }

    .mainText h2 {
        font-size: 1.2rem;
    }
    
    .mainText h1 {
        font-size: 2.3rem;
    }
    
    .mainText span {
        font-size: 1.2rem;
    }
}

@media (max-width: 920px) {
    .mainText h2 {
        font-size: 1rem;
    }
    
    .mainText h1 {
        font-size: 2rem;
    }
    
    .mainText span {
        font-size: 1rem;
    }

    .mainText a {
        font-size: 1rem;
        width: 220px;
    }

    .ornament1, .ornament2{
        display: none;
    }
}

@media (max-width: 815px) {
    .mainText {
        grid-column: 1 / -1;
        justify-self: start;
    }
    .mainContent img {
        grid-column: 1 / -1;
        justify-self: start;
        min-width: 0;
        min-height: 0;
    }
    .footer a{
        margin: 1rem 0 0 0;
    }
}